@tailwind base;
@tailwind components;
@tailwind utilities;


  .slick-track{
    display: flex !important;
    gap: 25px !important;
  }

  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #4ade80;
    background: #4ade80;
    background: #4ade80;
    background: #4ade80;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }
  
  /* loader */
  .hex-grid {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: perspective(1000px) rotateX(30deg);
  }
  
  .hex {
    position: relative;
    width: 20px;
    height: 23px;
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: #3b82f6;
    opacity: 0;
    animation: pulse 2s ease-in-out infinite;
    /* #4affd4 */
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }